@import "tailwindcss";

* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; }

body {
  background-color: #050a14;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0;
}

#root {
  width: 100%;
  max-width: 450px;
  min-height: 100vh;
  background-color: #0f172a;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar { width: 0px; }